[Unit]
Description=AutoHAT jenkins slave script
After=syslog.target

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/docker.env
ExecStart=/etc/autohat/service/run_slave.sh %i

[Install]
WantedBy=multi-user.target
